*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Debug*/

.debug .header-top{
    background-color: cyan;
}

.debug .header-bottom{
    background-color: blue;

}

.debug nav{
    background-color: orange;
}

.debug nav>div{
    border: 1px dotted black;
}

.debug #header-text{
    background-color: pink;
    height: 300px;
}

.debug main .section-image{
    background-color: dodgerblue;
    height: 400px;
}

.debug main .section-text{
    background-color: pink;
    height: 400px;
}

.debug main .lower-main{
    background-color: green;
    height: 500px;
}

#footer-left-big{
    background-color: pink;
    height: 500px;
}

.footer-right-little{
    background-color: #20b2aa;
    height: 500px;
}

#footer-low{
    background-color: cyan;
}

/* inizio CSS */


.center{
    width: 75%;
    margin: auto;
}

.header-top{
    padding: 5px 0;
    height: 50px;
}


.header-top .logo,.header-top .login{
    width: 20%;
}

header .login{
    text-align: right;
}

.header-top .top-link{
    width: 60%;
    text-align: center;
}

.header-bottom{
    height: 400px;
    padding-top: 40px;
}

nav{
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-text{
    width: 50%;
    margin: auto;
}

.flex-container{
    display: flex;
}

section{
    padding: 50px 0;
}

.section-image{
    width: 60%;
}

.section-text{
    width: 40%;
}

section:nth-child(2n+2){
    background-color: lightgray;
}

footer{
    background-color: #23272a;
}

#footer-top{
    padding: 20px 0 40px;
    display: flex;
    justify-content: center;
}

#footer-left-big{
    width: 300px;
}

.footer-right-little{
    width: 200px;
}

#footer-low{
    margin-top: 30px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}